<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="../../../assets/images/logos/logoduoc.png" id="img-logo-login"  width="140" height="30" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-button shape="block" [routerLink]="['/choferes']">Ver choferes disponibles</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</ion-content>