<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form action="" #formulario>
    <ion-row>
      <ion-col>
        <ion-item id="rounded">
          <ion-label floating>Usuario:</ion-label>
          <ion-input type="text" required name="usuario" ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item id="rounded">
          <ion-label floating>Password:</ion-label>
          <ion-input type="password" required name="password" ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-button shape="block" (click)="ingresar()">Ingresar</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-button color="danger" shape="block" [routerLink]="['/restaurar']">Restablecer contraseña</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
</ion-content>